@import "../../theme";

.results {
  margin-bottom: 50px;
  margin-top: 80px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 10px;
    color: $title-color;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
  }

  h2 {
    margin-left: 10px
  }
  p {
    margin-top: 35px;
    color: $title-color;
    width: 70vw;
    text-align: center;
    font-size: 26px;
    span {
      font-weight: 600;
    }
  }
  .content {
    width: 1220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
      margin-top: 35px;
      display: flex;
      width: 600px;
      align-items: center;
      height: 100px;
      border: 3px solid $border-color;
      border-radius: 23px;
      h3 {
        font-weight: 500;
        font-size: 26px;
        color: $button;
        margin-left: 15px;
      }
      .icon {
        margin-left: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 43px;
        height: 43px;
        border-radius: 50%;
        border: 2px solid $border-color;
      }
    }
  }
}

@media (max-width: 1240px) {
  header {
    h1 {
      font-size: 30px !important;
    }
    p {
      font-size: 20px !important;
      width: 95vw !important;
    }
  }
  .items {
    width: 90vw !important;
  }
  .item {
    width: 47% !important;
    h2 {
      
      font-size: 18px !important;
    }
  }
}

@media (max-width: 600px) {

  .icon {
    margin-left: 5px !important;
    width: 36px !important;
    height: 36px !important;
    svg {
      height: 18px;
    }
  }
  .item {
    width: 100% !important;
  }
  .items {
    width: 100% !important;
    flex-direction: column;
    justify-content: center !important;
  }
  .content {
    width: 80vw !important;
  }
  header {
    h1 {
      font-size: 25px !important;
    }
    p {
      font-size: 16px !important;
      width: 90vw !important;
    }
  }
  .item {
    h2 {
      font-size: 14px !important;
    }
  }
}
