@import "../../theme";

.secondBlock {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 870px;
  margin-right: 40px;

  .imgDiv {
    position: absolute;
  }

  .textDiv {
    position: relative;
    z-index: 10;
    margin-left: 250px;
    width: 535px;

    .successMarkDiv {
      margin-top: 38px;
      display: flex;

      img {
        width: 32px;
        height: 32px;
      }

      p {
        margin-left: 10px;
        font-weight: 400;
        color: $success-text;
        font-size: 17px;
        width: 80%;
      }
    }

    h3 {
      margin-top: 20px;
      color: $title-color;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 0;
    }

    .descr {
      font-weight: 400;
      margin-top: 12px;
      color: $exclusive-p;
      font-size: 17px;
    }

    button {
      background-color: $button;
      width: 275px;
      height: 50px;
      border-radius: 45px;
      border: 0;
      color: white;
      font-size: 20px;
      cursor: pointer;
      margin-top: 33px;
      font-weight: bold;
      transition: .3s;

      &:hover {
        background-color: $button-hover;
      }

      &:active {
        background-color: $button-click;
      }
    }
  }
}

.cosmonavt {
  z-index: 10 !important;
  position: relative;
}

@media (max-width: 1360px) {
  .textDiv {
    margin-left: 200px !important;
  }
}

@media (max-width: 1300px) {
  .textDiv {
    margin-left: 150px !important;
  }
}

@media (max-width: 1210px) {
  .textDiv {
    margin-left: 100px !important;
  }
}

@media (max-width: 1110px) {
  .textDiv {
    margin-left: 50px !important;
  }
}

@media (max-width: 1000px) {
  .secondBlock {
    display: flex;
    flex-direction: column;
  }
  .cosmonavt {
    margin-top: 40px;
  }
}

@media (max-width: 525px) {
  .secondBlock {
    width: 100%;
    margin-right: 0px !important;
  }
  .textDiv {
    width: 90vw !important;
    margin-left: 0px !important;
  }
  .cosmonavt {
    width: 60vw;
  }
}
@media (max-width: 476px) {
  .secondBlock {
    width: 100vw;
    margin-right: 0px !important;
  }
  .textDiv {
    h3 {
      text-align: center !important;
      font-size: 20px !important;
    }
  }
  .cosmonavt {
    width: 60vw;
  }
}