@import "../../theme.scss";
@import "../../default.scss";

.leads {
    margin-block: 86px;
    display: flex;
    justify-content: center;
    min-height: 475px;
    width: 100%;
    background-color: $background;

    .content {
        width: 100%;
        margin-block: 20px;
        margin-inline: 20%;
        border-style: solid;
        border-color: $leadForm;
        border-radius: 30px;
        background-color: $leadForm;
        padding: 47px;
    }

    .textDetails {
        display: flex;
        justify-content: left;
        flex-direction: column;
    }

    .textDetails h1 {
        font-size: 36px;
        font-weight: 700;
        color: $title-color;
        margin-bottom: 20px;
    }

    .textDetails p {
        color: $title-color;
        font-size: 16px;
        font-weight: 500;
    }

    .Contacts {
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        input {
            width: 252px;
            height: 44px;
            padding: 6px;
            border: none;
            border-bottom: solid;
            border-bottom-color: $input-border;
            font-size: 15px;
            text-align: center;
            transition: 0.3s all;
        }

            input::placeholder {
            color: $placeholder;
            font-size: 15px;
            text-align: center;
        }

        input:focus {
            border-bottom-color: $focused;
        }
    }

    .ideaBlock {
        margin-top: 50px;
        display: flex;
        
        input {
            width: 100%;
            height: 44px;
            padding: 6px;
            border: none;;
            border-bottom: solid;
            border-bottom-color: $input-border;
            font-size: 15px;
            text-align: left;
            transition: 0.3s all;
        } 
    }

    .confirmLead {
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    .checkbox {
        // please add it later
    }

    .pin {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        
        h3 {
            font-weight: 400;
        }

        color: $button;
        transition: color 0.3s;
        
        :hover {
            color: $button-hover;
        }
    }

    .pin img {
        margin-inline: 6px;
    }

    .button {
        border-radius: 73px;
        border-style: none;
        width: 300px;
        height: 46px;
        cursor: pointer;
        background-color: $button;
        color: #fff;
        font-weight: 600;
        font-size: 17px;
        transition: all 0.3s;
    }

    .button:hover {
        background-color: $button-hover;
    }

    .button:active {
        background-color: $button-click;
    }
}