// Site background
$background: #fff;

// icons
//$default-ico: #505F98;

// Buttons
$button: #111B47; // Default button
$button-hover: #0a1130; // Button while curson on
$button-click: #0f1428; // Button clicked

// texts
$title-color: #091133; // h1, h2, h3, h4, h5, h6
$p-color: #505F98; // paragraphed text