// Site background
$background: #f6f5f5;

// icons
//$default-ico: #505F98;

// Buttons
$button: #111B47; // Default button
$button-hover: #0a1130; // Button while curson on
$button-click: #0f1428; // Button clicked

// texts
$title-color: #091133; // h1, h2, h3, h4, h5, h6
$p-color: #505F98; // paragraphed text
$exclusive-p: #6F7CB2; // more blue paragraph for ExclusiveSite, High performance website ...
$success-text: #0E6D8B;

// blocks
$border-color: #C8D4FF;
$leadForm: #fff;

//inputs
$placeholder: #848484;
$focused: rgba(45, 67, 166, 0.86);;
$input-border: rgba(17,27,71,86%);