@import "../../theme";
.swiper {
  width: 1330px;
  height: 100%;
  //overflow-x: visible;
  @media (max-width: 1400px) {
    width: 99vw;
  }
}
.mySwiper {
  height: 500px;
  //overflow-x: visible;

}
.swiper-slide {
  user-select: none;
  position: relative;
  z-index: 5;
  margin: 15px;
  width: 415px;
  height: 435px;
  background: linear-gradient(136.71deg, rgba(105, 228, 255, 0.40) -24.05%, rgba(13, 12, 66, 0.10) 115.5%);
  //opacity: 0.41;
  filter: brightness(0.9);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 54.3555px;
  padding: 20px;
  h1 {
    color: $secondary-p-color;
    font-size: 96px;
    position: absolute;
  }
  .content {
    margin-top: 67px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 18px;
      color: $secondary-p-color;
      line-height: 18px;
      //height: 140px;
    }
    .stars {
      margin-top: 25px;
      width: 250px;
      height: auto;
    }
    .user {
      margin-top: 25px;
      display: flex;
      align-items: center;
      h2 {
        color: $user-color;
        font-size: 36px;
        margin-bottom: 0px;
      }
      p {
        color: $user-color;
        font-size: 14px;
        height: auto;
      }
      div {
        margin-left: 10px;
      }
    }
  }

}

//
//@media (max-width: 500px) {
//  .swiper-wrapper {
//    width: 92% !important;
//  }
//  .swiper-slide {
//    width: 94% !important;
//    margin-left: 25px !important;
//    //flex-direction: column;
//    //align-items: center;
//    //justify-content: center;
//  }
//  .stars {
//    margin-top: 5px !important;
//  }
//}